array_template
examples
genetic_map_b37
Manual.md
README.md
src
tests
Vagrantfile
bin/temp*
bin/germline-1-5-1/Chromosome*
bin/germline-1-5-1/GERMLINE*
bin/germline-1-5-1/*Individual*
bin/germline-1-5-1/Input*
bin/germline-1-5-1/Makefile
bin/germline-1-5-1/M*
bin/germline-1-5-1/N*
bin/germline-1-5-1/p*
bin/germline-1-5-1/P*
bin/germline-1-5-1/R*
bin/germline-1-5-1/S*
bin/germline-1-5-1/test
