*~
*.pyc
*.pyo
macss_env/
simprily_env/
*.log
macschr1*
mprofile_*
outerror/
resourceuse.txt
resourceuseM2.txt
macs_asc*.map
macs_asc*.ped
macs_asc*.match
macs_asc*.log
.vagrant/
.idea/
.cache/
*.run
*.summary
sim*_*_values.txt
.DS_Store
workflow/dax.xml
workflow/macss_env
workflow/macss_env.tar.gz
workflow/model.tar.gz
build/
out_edit2
out_edit2/

./test/
out_dir
out_dir/
output_dir
output_dir/
